body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    height: fit-content;
}



#x, #y {
    background-color: white;
    float: left;
    color: black;
    width: 10%;
    font-size: 10px;
    text-align: right;
    outline-color: black;
    outline-style: solid;
}

.grid-container {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
    "header"
    "article"
    "nav"
    "section"
    "aside"
    "footer";
}

header, footer {
    background-color:chocolate;
    padding: 1%;
    text-align: right;
    font-size: 30px;
    overflow: hidden;
}

header {
    grid-area: header;
}

aside, nav {
    background-color:dimgray;
    padding: 2%;
}

aside {
    text-align: right;
    grid-area: aside;
}

nav {
    text-align: left;
    grid-area: nav;
}

nav ul {
    padding: 0;
    margin: 0 20px 20px;
    vertical-align: top;
}

nav ul li a {
    outline: none;
    text-decoration: none;
    color: white;
}

article {
    text-align: center;
    padding: 2%;
    color: black;
    grid-area: article;
}

article ul, article ol{
    text-align: left;
}

section {
    background-color: red;
    padding: 2%;
    text-align: left;
    grid-area: section;
}

footer {
    font-size: 15px;
    grid-area: footer;
}


@media (min-width: 800px) {
    .grid-container {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-areas:
        "header     header   header"
        "aside   article    nav"
        "aside      article      section"
        "aside      footer       footer";
    }
  }