body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    height: fit-content;
}

header, footer {
    background-color:chocolate;
    padding: 1%;
    text-align: right;
    font-size: 30px;
    overflow: hidden;
}

#x, #y {
    background-color: white;
    float: left;
    color: black;
    width: 10%;
    font-size: 10px;
    text-align: right;
    outline-color: black;
    outline-style: solid;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr auto;
}

aside, nav {
    background-color:dimgray;
    padding: 2%;
}

aside {
    text-align: right;
    grid-row: 1 / 4;
    padding: 10%;
}

nav {
    text-align: left;
}

ul {
    padding: 0;
    margin: 0 20px 20px;
    vertical-align: top;
}

ul li a {
    outline: none;
    text-decoration: none;
    color: white;
}

article {
    text-align: center;
    padding: 2%;
    color: black;
    grid-row: 1 / 3;
}

article ul, article ol{
    text-align: left;
}

section {
    background-color: red;
    padding: 5%;
    text-align: left;
}

footer {
    font-size: 15px;
    grid-column: 2 / 4;
}