body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    height: fit-content;
}

header, footer {
    background-color:chocolate;
    padding: 1%;
    text-align: right;
    font-size: 30px;
    overflow: hidden;
}

#x, #y {
    background-color: white;
    float: left;
    color: black;
    width: 10%;
    font-size: 10px;
    text-align: right;
    outline-color: black;
    outline-style: solid;
}

#mainDiv {
    display: flex;
}

#largeDiv {
    display: flex;
    flex-direction: column;
    flex: 5;
}

#mediumDiv {
    display: flex;
    flex: 1;
}

#smallDiv {
    flex: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;

}

aside, nav {
    background-color:dimgray;
    padding: 2%;
}

aside {
    text-align: right;
    flex: 1;
}

nav {
    text-align: left;
}

nav ul {
    padding: 0;
    margin: 0 20px 20px;
    vertical-align: top;
}

nav ul li a {
    outline: none;
    text-decoration: none;
    color: white;
}

article {
    text-align: center;
    padding: 2%;
    color: black;
    flex: 3;
}

article ul, article ol{
    text-align: left;
}

section {
    background-color: red;
    padding: 5%;
    text-align: left;
}

footer {
    font-size: 15px;
}

@media (max-width: 600px) {
    div {
        flex-direction: column;
    }
}